@import "assets/scss/Helper/_variable.scss";
@import "assets/scss/Helper/_mixins.scss";

.chooseSeats {
  background-color: $c-theme-bg_grey;
  padding-block: 2rem;
  flex: 1;
  .chooseSeatsHeader {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .chooseSeatsHeaderMovieInfo {
      p {
        &:first-child {
          font-size: 1.6rem;
          color: $primary-color;
          margin-bottom: 0.8rem;
          span {
            color: $c-theme-heading;
            font-size: 1.5rem;
          }
        }
        &:last-of-type {
          font-size: 1.5rem;
          color: $c-theme-font;
          opacity: 0.8;
          margin-block: 0;
        }
      }
    }
    .chooseSeatsHeaderCountDown {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 1.5rem;
        color: $c-theme-font;
        opacity: 0.8;
        text-align: center;
      }
      span {
        font-size: 2.4rem;
        color: $primary-color;
        font-weight: 600;
      }
    }
  }
  .chooseSeatsMain {
    overflow: auto;
    @include costume_scroll();
    padding-block: 1rem;
    .chooseSeatsMainWrap {
      min-width: 600px;
      .chooseSeatsMainScreen {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & > div {
          width: 100%;
          height: 0;
          border-bottom: 10px solid $c-theme-heading;
          border-left: 20px solid transparent;
          border-right: 10px solid transparent;
          filter: drop-shadow(0 10px 40px $c-theme-heading);
        }
        span {
          font-size: 1.6rem;
          font-weight: 600;
          margin-top: 1.6rem;
          color: $c-theme-font;
          display: inline-block;
        }
      }
      .chooseSeatsMainTicketsList {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding-inline: 8rem 4rem;
        .chooseSeatMainTicketItem {
          flex-basis: calc(100% / 16);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-bottom: 0.6rem;
          p {
            position: absolute;
            left: -80%;
            font-size: 2rem;
            font-weight: 600;
            color: $c-theme-heading;
          }
          svg {
            cursor: pointer;
            color: $c-theme-heading;
            font-size: 3rem;
          }
          &.vip {
            svg {
              color: $primary-color;
            }
          }
          &.disable {
            svg {
              cursor: default;
              user-select: none;
              color: $disable-color;
            }
          }
          &.selected {
            svg {
              color: rgb(68, 192, 32);
            }
          }
        }
      }
    }
  }
  .chooseSeatFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .chooseSeatFooterItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-inline: 1rem;
      svg {
        font-size: 2.6rem;
        color: $c-theme-heading;
        @include res_lg {
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.4rem;
        color: $c-theme-font;
        text-align: center;
      }
      &.vip {
        svg {
          color: $primary-color;
        }
      }
      &.selected {
        svg {
          color: rgb(68, 192, 32);
        }
      }
      &.disable {
        svg {
          color: $disable-color;
        }
      }
    }
  }
}

.basicModalChooseSeatWrap {
  & > .MuiBox-root {
    min-width: 260px;
    min-height: 200px;
    background-color: $c-theme-bg;
    border-radius: 0.8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px $c-theme-box-shadow;
    p {
      font-size: 1.6rem;
      color: $c-theme-heading;
      text-align: center;
      a {
        font-size: 1.6rem;
        color: $primary-color;
        font-weight: 500;
        text-decoration: none;
      }
    }
    button {
      font-size: 1.1rem;
      background-color: $primary-color;
      color: #f8f9fa;
      padding-inline: 1.2rem;
      @include res_lg {
        font-size: 1.4rem;
        padding-inline: 2rem;
      }
    }
  }
}
