@import "assets/scss/Helper/_variable.scss";
@import "assets/scss/Helper/_mixins.scss";

.bookingSeatsPayment {
  background-color: $c-theme-bg;
  box-shadow: 0 0 10px $c-theme-box-shadow;
  border-left: 1px solid $c-theme-border__light;
  padding: 2rem;
  padding-top: 0rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  @include costume_scroll();
  .bookingSeatsPaymentHeader {
    & > div {
      border-bottom: 1px solid $c-theme-border__light;
      padding-block: 1rem;
    }
    .bookingSeatsPaymentTitle {
      font-size: 4rem;
      font-weight: 600;
      color: $c-theme-heading;
      text-align: center;
    }
    .bookingSeatsPaymentMovieInfo {
      h3 {
        color: $c-theme-heading;
        font-size: 1.8rem;
        font-weight: 600;
        margin-block: 0.8rem;
      }
      p {
        color: $c-theme-font;
        font-size: 1.6rem;
        margin-block: 0.8rem;
      }
    }
    .bookingSeatsPaymentSeatsList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 1.6rem;
        font-weight: 600;
        color: $c-theme-heading;
        &:nth-child(2) {
          color: $primary-color;
        }
      }
    }
    .bookingSeatsFormGroup {
      label {
        display: inline-block;
        font-size: 1.6rem;
        color: $c-theme-font;
        opacity: 0.8;
      }
      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 1.6rem;
        color: $c-theme-heading;
        padding: 1rem 0.8rem;
      }
      &.discount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          font-size: 1.4rem;
          background-color: $disable-color;
          color: #f8f9fa;
        }
      }
    }
    .bookingSeatsPaymentType {
      span {
        color: $c-theme-font;
        font-size: 1.6rem;
        opacity: 0.8;
      }
      .paymentWaring {
        color: $primary-color;
        font-size: 1.6rem;
        text-align: center;
      }
      .paymentTypes {
        .paymentType {
          display: flex;
          align-items: center;
          padding-block: 0.6rem;
          [type="radio"]:checked,
          [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
          }
          [type="radio"]:checked + label,
          [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 38px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
          }
          [type="radio"]:checked + label:before,
          [type="radio"]:not(:checked) + label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
          }
          [type="radio"]:checked + label:after,
          [type="radio"]:not(:checked) + label:after {
            content: "";
            width: 12px;
            height: 12px;
            background: $primary-color;
            position: absolute;
            top: calc(50% + 5px);
            transform: translateY(-50%);
            left: 5px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
          [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1) translateY(-10px);
          }
          label {
            display: inline-flex !important;
            align-items: center;
            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              object-position: center;
            }
            span {
              font-size: 1.6rem;
              color: $c-theme-heading;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
  .bookingPaymentFooter {
    p {
      text-align: center;
      font-size: 1.4rem;
      color: $c-theme-heading;
      svg {
        font-size: 1.4rem;
        color: $primary-color;
      }
      span {
        font-size: 1.5rem;
        color: $primary-color;
      }
    }
    button {
      background-color: $disable-color;
      color: #f8f9fa;
      font-size: 2.6rem;
      text-transform: uppercase;
      font-weight: 600;
      width: 100%;
      letter-spacing: 4px;
      cursor: default;
      display: none;
      @include res_900 {
        display: block;
      }
      &.active {
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

.basicModalPaymentWrap {
  & > .MuiBox-root {
    background-color: $c-theme-bg;
    border-radius: 8px;
    overflow: auto;
    height: 100vh;
    min-width: 300px;
    @include costume_scroll();
    .basicModalPayment {
      height: 100%;
      padding-block: 2rem;
      .movieInfo {
        display: flex;
        flex-direction: column;
        @include res_md {
          flex-direction: row;
        }
        img {
          width: 100%;
          max-height: 300px;
          object-fit: cover;
          object-position: center;
          @include res_md {
            width: 20%;
            max-height: auto;
          }
        }
        & > div {
          margin-top: 1rem;
          flex: 1;
          @include res_md {
            margin-top: 0;
            padding-left: 2rem;
          }
          h3 {
            font-size: 2rem;
            color: $primary-color;
            margin-block: 0;
            border-bottom: 1px solid $c-theme-border__light;
            padding-bottom: 1rem;
          }
          h4 {
            font-size: 1.6rem;
            color: $c-theme-heading;
            margin-block: 8px;
            span {
              font-size: 1.6rem;
              color: $c-theme-font;
            }
          }
          p {
            color: $c-theme-font;
            font-size: 1.6rem;
            opacity: 0.8;
            margin-block: 0;
            padding-bottom: 0.8rem;
            border-bottom: 1px solid $c-theme-border__light;
          }
          & > div {
            & > div {
              display: flex;
              align-items: center;
              padding-block: 0.6rem;
              span {
                font-size: 1.6rem;
                &:first-child {
                  color: $c-theme-heading;
                  display: inline-block;
                  min-width: 110px;
                }
                &:last-child {
                  color: $c-theme-font;
                }
              }
            }
          }
        }
      }
      .bookingInfo {
        .group {
          border-bottom: 1px solid $c-theme-border__light;
          padding-block: 1.6rem;
          display: flex;
          &:last-child {
            border-bottom: none;
          }
          h1 {
            font-size: 2rem;
            font-weight: 600;
            color: $c-theme-heading;
            margin-block: 0.8rem;
            @include res_lg {
              font-size: 2.6rem;
            }
          }
          span {
            font-size: 1.5rem;
            @include res_lg {
              font-size: 1.6rem;
            }
            &:first-child {
              color: $c-theme-heading;
              display: inline-block;
              min-width: 100px;
              @include res_lg {
                min-width: 120px;
              }
            }
            &:last-child {
              color: $c-theme-font;
              span {
                color: $primary-color;
              }
            }
          }
        }
      }
      & > p {
        text-align: center;
        font-size: 1.6rem;
        color: $c-theme-heading;
        font-style: italic;
        @include res_lg {
          font-size: 1.8rem;
        }
      }
      .bookingActions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2rem;
        padding-bottom: 2rem;
        @include res_lg {
          margin-top: 4rem;
        }
        button {
          display: inline-block;
          font-size: 1.1rem;
          text-transform: uppercase;
          font-weight: 600;
          padding: 0.8rem 1.2rem;
          color: #f8f9fa;
          border-radius: 3rem;
          @include res_lg {
            font-size: 1.6rem;
            padding: 0.8rem 3.2rem;
            border-radius: 8rem;
          }
          &:first-child {
            background-color: $primary-color;
          }
          &:last-child {
            background-color: $disable-color;
          }
        }
      }
    }
  }
}
