@import "assets/scss/Helper/_variable.scss";

.mainUserInfo {
  .mainUserInfoForm {
    .group {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin: 0;
      padding-block: 0.8rem;
      flex-wrap: wrap;
      label {
        min-width: 140px;
        display: block;
        font-size: 1.6rem;
        color: $c-theme-heading;
        position: unset;
        overflow: unset;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        transform: none;
      }
      input {
        flex: 1;
        font-size: 1.6rem;
        color: $c-theme-font;
        outline: none;
        background-color: transparent;
        border-radius: 0.4rem;
        border: 1px solid $c-theme-border__light;
        padding: 0.8rem 1.2rem;
        margin-top: 0.8rem;
        height: auto;
      }
      & > .messErr {
        padding-left: 14rem;
        margin-block: 0;
        margin-top: 0.4rem;
        width: 100%;
        color: red;
        font-size: 1.6rem;
      }
      & > button {
        font-size: 1.6rem;
        background-color: $primary-color;
        color: #f8f9fa;
        padding-inline: 1.6rem;
        margin: 0 2.4rem;
        transition: 0.4s;
        &.resetBtn {
          background-color: $disable-color;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      & > .MuiInputBase-root {
        flex: 1;
        position: relative;
        padding-right: 0;
        &::after {
          display: none;
        }
        & > .MuiInputAdornment-root {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, 50%);
          button {
            svg {
              color: $c-theme-heading;
              font-size: 2.6rem;
            }
          }
        }
      }
    }
  }
}
