@import "assets/scss/Helper/_base.scss";

.MuiBottomNavigation-root {
  background-color: transparent !important;
}

.MuiBottomNavigationAction-label {
  font-size: 1.4rem !important;
  color: $c-theme-font;
  font-weight: 600;
  &.Mui-selected {
    font-size: 1.6rem !important;
    color: $primary-color;
  }
}

.MuiTouchRipple-root {
  color: $primary-color;
}

.MuiMenu-list {
  background-color: $c-theme-bg;
}

.MuiMenuItem-root {
  p {
    color: $c-theme-font;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: right;
  }
  &.Mui-selected {
    p {
      color: $primary-color !important;
      font-weight: 600;
    }
  }
}
