@import "assets/scss/Helper/_variable.scss";
@import "assets/scss/Helper/_mixins.scss";

.MuiFormControl-root.movieScheduleDateSelectForm {
  .MuiInputBase-root {
    #movieScheduleSelect {
      border: 1px solid $c-theme-border__light;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 600;
      color: $c-theme-font;
    }
    .MuiOutlinedInput-notchedOutline {
      border: 1px solid $c-theme-border;
    }
  }
}

.MuiMenuItem-root.movieScheduleDateMenuItem.Mui-selected {
  background-color: #fa5238 !important;
  color: #f8f9fa !important;
}

.cinemasWrapTab {
  .MuiButtonBase-root.MuiTab-root {
    min-width: auto;
    padding: 1.2rem 1.6rem;
  }
}
