@import "assets/scss/Helper/_variable.scss";
@import "assets/scss/Helper/_mixins.scss";

.formWrap {
  padding: 2rem;
  width: 100%;
  @include res_lg {
    padding-inline: 4rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      width: 160px;
      object-fit: cover;
      object-position: center;
      @include res_lg {
        width: 210px;
      }
    }
    h3 {
      font-size: 1.5rem;
      color: #f8f9fa;
      text-align: center;
      margin-top: 0;
      @include res_lg {
        font-size: 1.7rem;
      }
    }
  }
  .form {
    padding-inline: 4rem;
    .formGroup {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      label {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        color: #f8f9fa;
        @include res_lg {
          font-size: 1.7rem;
        }
      }
      input {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        color: #151421;
        outline: none;
        padding: 0.6rem 1.2rem;
        border-radius: 0.4rem;
        @include res_lg {
          font-size: 1.6rem;
          padding: 0.8rem 1.2rem;
        }
      }
      .messErr {
        color: red;
        font-weight: 600;
        font-size: 1.4rem;
        margin-block: 0;
        margin-top: 0.8rem;
        @include res_lg {
          font-size: 1.6rem;
        }
      }
      button {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        color: #f8f9fa;
        background-color: $primary-color;
        padding: 0.8rem 1.6rem;
        border: none;
        margin: 0 auto;
        margin-top: 1rem;
        transition: 0.4s;
        border-radius: 0.4rem;
        @include res_lg {
          padding: 1.2rem 2rem;
          font-size: 1.8rem;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      p:not(.messErr) {
        font-size: 1.6rem;
        color: #f8f9fa;
        text-align: center;
        width: 100%;
        margin-block: 0;
        a {
          display: inline-block;
          font-size: 1.6rem;
          text-decoration: none;
          color: $primary-color;
          font-weight: 500;
          transition: 0.4s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
